profiles {
    standard {
        params.use_aws = false
        docker.enabled = true
        process.container = 'proteowizard/panorama-encyclopedia:0.9.5'
        process.executor = 'local'
    }
    cloud {
        params.use_aws = true
        docker.enabled = true
        process.container = '622568582929.dkr.ecr.us-west-2.amazonaws.com/docker-encyclopedia'
        process.executor = 'awsbatch'
        process.queue = {
            task.attempt > 1 ? 'terraform-nextflow-large-size-batch-job-queue' : 'terraform-nextflow-medium-size-batch-job-queue' 
        }
        process.memory = { 
            task.attempt > 1 ? 31100.MB : 15400.MB 
        }
        process.cpus = { 
            task.attempt > 1 ? 16 : 8 
        }
    }
}

plugins {
    id 'nf-sqldb@0.1.0'
    id 'nf-amazon'
}

aws {
    region = 'us-west-2'
    client {
        storageEncryption = 'AES256'
    }
    batch {
        cliPath = '/home/ec2-user/bin/aws'
        jobRole = 'arn:aws:iam::622568582929:role/terraform-nextflow-batch-job-role'
    }
}

sql {
    db {
        'benchling' {
            url = '${params.benchling_url}'
            user = '${params.benchling_user}'
            password = '${params.benchling_pw}'
        }
    }
}