// Profiles
profiles {
    standard {
        params.experimentBucket = 'experiment-bucket'
        params.metadataBucket = 'metadata-bucket'
        params.rawBucket = 'raw-bucket'
        params.mzmlBucket = 'mzml-bucket'
        params.cacheBucket = 'cache-bucket'
        process {
            executor = 'local'
            withName: 'run_encyclopedia_.*' {
                container = 'docker-encyclopedia'
            }
            withName: 'run_msconvert' {
                container = 'docker-msconvert'
            }
            withName: 'unique_peptides_proteins' {
                container = 'docker-unique-peptides-proteins'
            }
        }
    }
    cloud {
        params.experimentBucket = 's3://data-pipeline-experiment-bucket'
        params.metadataBucket = 's3://data-pipeline-metadata-bucket'
        params.rawBucket = 's3://data-pipeline-raw-bucket'
        params.mzmlBucket = 's3://data-pipeline-mzml-bucket'
        params.cacheBucket = 's3://terraform-nextflow-cache-bucket'
        process {
            executor = 'awsbatch'
            errorStrategy = 'retry'
            maxRetries = 3
            withName: 'run_encyclopedia_local' {
                container = '622568582929.dkr.ecr.us-west-2.amazonaws.com/docker-encyclopedia'
                queue = 'terraform-nextflow-medium-size-spot-batch-job-queue'
                memory = 31100.MB
                cpus = 4
            }
            withName: 'run_encyclopedia_global' {
                container = '622568582929.dkr.ecr.us-west-2.amazonaws.com/docker-encyclopedia'
                queue = 'terraform-nextflow-large-size-spot-batch-job-queue'
                memory = 31100.MB
                cpus = 2
            }
            withName: 'run_msconvert' {
                container = '622568582929.dkr.ecr.us-west-2.amazonaws.com/docker-msconvert'
                queue = 'terraform-nextflow-medium-size-spot-batch-job-queue'
                memory = 7700.MB
                cpus = 2
            }
            withName: 'unique_peptides_proteins' {
                container = '622568582929.dkr.ecr.us-west-2.amazonaws.com/docker-unique-peptides-proteins'
                queue = 'terraform-nextflow-medium-size-spot-batch-job-queue'
                memory = 7700.MB
                cpus = 2
            }
        }
    }
}

// Docker Parameters
docker {
    enabled = true
}

// Pipeline Parameters
params {
    experimentName = 'purple-pig'
    email = 'rmeinl@talus.bio'

    file_key_types = ''
    raw_files = []
    mzml_gz_files = []
    //file_key_types = '170823_wide_1,Wide DIA\n170823_wide_2,Wide DIA'
    //raw_files = ['170823/170823_wide_1.raw', '170823/170823_wide_2.raw']
    //mzml_gz_files = ['mzml-bucket/210308/210308_talus_01.mzML', 'mzml-bucket/210308/210308_talus_02.mzML', 'mzml-bucket/210308/210308_talus_04.mzML', 'mzml-bucket/210308/210308_talus_05.mzML']
    
    encyclopedia {
        fasta = 'uniprot_human_25apr2019.fasta'
        dlib = 'uniprot_human_25apr2019.fasta.z2_nce33.dlib'
        memory = '-Xmx24G'
        narrow_lib_postfix = 'chr'
        wide_lib_postfix = 'quant'
        local_options = ''
        global_options = ''
    }
    msconvert {
        verbose = '-v'
        gzip = '--gzip'
        options = '--mzML --64 --zlib'
        filters = '--filter "peakPicking true 1-" --filter "demultiplex optimization=overlap_only"'
    }
}

// Plugins
plugins {
    id 'nf-amazon'
}

// AWS Setup
aws {
    region = 'us-west-2'
    client {
        storageEncryption = 'AES256'
    }
    batch {
        cliPath = '/home/ec2-user/bin/aws'
        jobRole = 'arn:aws:iam::622568582929:role/terraform-nextflow-batch-job-role'
    }
}