params.encyclopedia.fasta = 'metadata-bucket/uniprot_human_25apr2019.fasta'
params.encyclopedia.dlib = 'metadata-bucket/uniprot_human_25apr2019.fasta.z2_nce33.dlib'

params.experimentName = '170823_encyclopedia_msstats_local'
params.publish_dir = 'experiment-bucket/170823_encyclopedia_msstats_local'
params.mzml_dir = 'mzml-bucket'
params.narrow_files = 'input_folder/narrow_files.csv'
params.wide_files = 'input_folder/wide_files.csv'

process.container = 'docker-msstats'