params {
    max_memory = 6.5.GB
    encyclopedia.args = '-percolatorVersion v3-01 -quantifyAcrossSamples true -scoringBreadthType window -percolatorTrainingSetSize 0 -percolatorTrainingFDR 0.9 -percolatorThreshold 0.9'
}

docker {
    enabled = true
}

process.container = "nf-encyclopedia"
process.cpus = params.max_cpus
