params {
    max_memory = 6.5.GB
    encyclopedia.args = '-percolatorVersion v3-01 -quantifyAcrossSamples true -scoringBreadthType window -percolatorTrainingSetSize 0 -percolatorTrainingFDR 0.9 -percolatorThreshold 0.9 -percolatorProteinThreshold 0.9'
}

docker {
    enabled = true
}

// Variable gets defined by pytest, depends on whether it is run within a CI
// pipeline or not, will also keep any set by the user
process.container = "${NFE_CONTAINER}"
process.cpus = params.max_cpus
